.container {
  width: 100%;
  height: 100vh;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(20, 15, 15, 0.863);
}

.wrapper {
  background-color: #fff;
  width: 500px;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formControl {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formControl label {
  font-size: 18px;
  font-weight: 500;
  padding: 5px;
}

.formControl input {
  border: 2px solid rgb(221, 77, 10);
  width: 100%;
  padding: 5px;
  outline: none;
}

.formControl textarea {
  border: 2px solid rgb(221, 77, 10);
  width: 100%;
  height: 140px;
  outline: none;
  padding: 0.3rem;
}

.button {
  margin-top: 1rem;
  padding: 10px;
  background-color: rgb(201, 81, 1);
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(177, 41, 0);
}
