.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(245, 90, 0);
  border-radius: 25px;
  padding: 1rem;
  box-shadow: darkblue;
  color: #fff;
}

.title {
  font-size: 26px;
}

.description {
  font-size: 18px;
}

.price {
  color: crimson;
}

.detail {
  border: none;
  padding: 9px;
  background-color: crimson;
  color: #fff;
  margin: 5px 0;
}
