.container {
  position: static;
  max-width: 1000px;
  margin: auto;
}

.title {
  font-size: 30px;
}

.description {
  font-size: 24px;
  color: #444;
  width: 80%;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin: 4rem 0;
}
