.container {
  padding: 50px;
  display: flex;
}

.left {
  flex: 2;
}

.right {
  flex: 1;
}

.imageContainer {
  width: 80px;
  height: 50px;
  position: absolute;
}

.table {
  width: 100%;
  border-spacing: 20px;
  padding: 10px;
}

.name {
  font-size: 16px;
  color: #c42e00;
}

.total {
  width: 90%;
  font-family: 18px;
}

.table td span {
  font-size: 18px;
}

.wrapper {
  width: 90%;
  max-height: 300px;
  background-color: #333;
  padding: 50px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}

.totalTextTitle {
  margin-right: 10px;
}

.button {
  margin-top: 15px;
  border: none;
  color: #c42e00;
  background-color: #f7f1f0;
  font-size: 18px;
  font-weight: bold;
  padding: 9px;
  width: 60%;
}
